!.mvn/wrapper/maven-wrapper.jar

.settings
.classpath
.project
.tern-project
.metadata

db/*/*.~*
db/*.~*
*.log
*.css

target/
widgetsets

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
wrapper
/mvnw
/mvnw.cmd
