@import "../valo/valo";
@import "view-background";
@import "button";
@import "colors";

.tutortheme {
  @include valo;

  .v-ui {
    background-color: $light-blue;
  }

  .tutor-background {
    background-image: url(pic/tutor_icon_512.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .v-slot-tutor-menuline {
    visibility: visible !important;
  }

  .tutor-menuline {
    background-color: $middle-blue;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    visibility: visible !important;

    .v-link a {
      color: $dark-blue;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .tutor-main-view {
    @include view-background($light-blue);
  }

  .tutor-search-view {
    @include view-background($light-blue);
  }

  .tutor-registration-view {
    @include view-background($light-blue);

    .v-required-field-indicator {
      color: $dark-blue;
    }

    .h3 {
      font-weight: bold;
    }
  }

  .tutor-login-view {
    @include view-background($light-blue);
  }

  .tutor-theme-button {
    @include colored-button($dark-blue, white);
  }

  .tutor-bordered-button {
    @include colored-button(white, $dark-blue);
  }

  .v-panel {
    border: 1px solid $dark-blue;

    .v-panel-caption {
      border: 1px solid $dark-blue;
      background: $dark-blue;
      color: white;
    }
  }

  .tutor-account-view {
    @include view-background($light-blue);
  }

  .v-accordion {
    .v-accordion-item {
      .v-accordion-item-caption {
        background-color: #99a5af;
        border-color: #99a5af;

        .v-caption {
          color: white;
        }
      }
    }

    .v-accordion-item-open {
      .v-accordion-item-caption {
        background-color: $middle-blue;
        border-color: $middle-blue;

        .v-caption {
          color: black;
        }
      }
    }
  }

  .v-grid-header .v-grid-cell {
    border: 1px solid $dark-blue;
    background: $dark-blue;
    color: white;
  }

  .v-filterselect {
    border: 1px solid $dark-blue;
    background: $dark-blue;
    color: white;

    .v-filterselect-button {
      background: #324a5e;
      color: white;
      margin-right: -1px;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }

  .v-filterselect-suggestpopup {
    border: 1px solid $dark-blue;
    border-radius: 5px;

    .gwt-MenuItem-selected {
      @include linear-gradient(to bottom, #bcdbfa 2%, $middle-blue 98%);
      color: $dark-blue;
    }
  }

  .v-textfield {
    border: 1px solid $dark-blue;
  }

  .v-textarea {
    border: 1px solid $dark-blue;
  }
}
