@import "../valo/valo";
@import "view-background";
@import "button";
@import "colors";

.tutortheme {
  @include valo;

  .tutor-background {
    background-image: url(pic/tutor_icon_512.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .v-slot-tutor-menuline {
    visibility: visible !important;
  }

  .tutor-menuline {
    background-color: $middle-blue;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    visibility: visible !important;

    .v-link a {
      color: $dark-blue;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .tutor-main-view {
    @include view-background($light-blue);
  }

  .tutor-registration-view {
    @include view-background($light-blue);

    .v-required-field-indicator {
      color: $dark-blue;
    }

    .h3 {
      font-weight: bold;
    }
  }

  .tutor-theme-button {
    @include colored-button($dark-blue, white);
  }

  .tutor-bordered-button {
    @include colored-button(white, $dark-blue);
  }
}
